@charset "UTF-8";
$fontGrey: #808080;
$fontWhite: #FFFFFF;
body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular";
}

label {
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  border: none;
  margin: 0;
  padding: 0;
  position: unset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.2;
}
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  content: none;
}
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
  content: none;
}
body{
  background: #010001;
}
.container{
  display: flex;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  margin: 0 auto;
  @media screen and (max-width: 1365.6px){
    margin: 0 50px;
    width: auto;
  }
  @media screen and (max-width: 768.7px){
    margin: 0 30px;
  }
  .containerPositionContent{
    width: 100%;
    max-width: 1231px;
  }
}
header{
  width: 100%;
  max-width: 1200px;
  padding: 53px 0;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  right: 0;
  background: #010001;
  z-index: 99;
  @media screen and (max-width: 1366.7px){
    width: auto;
    margin: 0 72px;
  }
  @media screen and (max-width: 768.7px){
    padding: 25px 0;
    margin: 0;
  }
}

.menu-btn {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 101;
  /* border: 3px solid #fff; */
  @media screen and (min-width: 768.7px){
    display: none;
  }
}
.menu-btn__burger {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-7px);
}
.menu-btn__burger::after {
  transform: translateY(7px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(0px);
  background: transparent;
  box-shadow: none;
  position: fixed;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
}

.containerHeader{
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768.7px) {
    justify-content: center;
    align-items: center;
  }
  .containerHeaderLogo{
    position: relative;
    z-index: 101;
  }
  .listMenu, .listMenuOther{
    white-space: nowrap;
    display: flex;
    align-items: end;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    @media screen and (max-width: 768.7px) {
      display: none;
    }
    li{
      margin: 0 10px;
    }
    li:first-child{
      margin: 0;
    }
    li:last-child{
      margin: 0;
    }
  }
  .listMenu{
    color: $fontWhite;
  }
  .listMenuOther{
    color: $fontGrey;
  }
  .containerMobileMenu{
    display: none;
  }
  .containerMobileMenu.open{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    flex-direction: column;
    z-index: 100;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    .listMenuMobile, .listMenuOtherMobile{
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 36px;
    }
    .app-logo{
      display: flex;
      a{
        margin: 10px
      }
    }
  }
}
main{
  margin: 127px 0 183px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 768.7px) {
    margin: 72px 0;
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: $fontWhite;
    @media screen and (max-width: 768.7px){
        font-size: 36px;
    }
  }
  p{
    width: 268px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: $fontWhite;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: lowercase;
    margin: 26px 0 0;
  }
  .containerWorldImg{
    width: 100%;
    max-width: 1440px;
    max-height: 1006px;
    img {
      width: 100%;
    }
  }
  .containerFalconHeavy{
    width: 100%;
    height: 100%;
    max-height: 1718px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    @media screen and (max-width: 768.7px){
      max-height: none;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      position: relative;
    }
    .containerFalconHeavyInfo{
      width: calc(100% - 644px);
      margin: 0 39px 324px 30px;
      @media screen and (max-width: 1024.7px){
        width: 50%;
        margin-bottom: 75px;
      }
      @media screen and (max-width: 768.7px) {
        width: 100%;
        margin: 70px 0;
      }
      h3{
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        text-transform: uppercase;
        color: $fontWhite;
        margin-bottom: 45px;
      }
      .titleText{
        margin-top: 218px;
        @media screen and (max-width: 1024.7px){
          margin-top: 75px;
        }
      }
      table{
        white-space: nowrap;
        width: 100%;
        tr{
          td:first-child{
            width: 66%;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 179.69%;
            text-transform: uppercase;
            color: $fontWhite;
            @media screen and (max-width: 768.7px){
              font-size: 14px;
            }
          }
          td:last-child{
            width: 33%;
            table{
              width: auto;
              tr{
                td:first-child{
                  text-transform: lowercase;
                  color: $fontWhite;
                  font-family: 'Roboto',sans-serif;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 179.69%;
                  width: auto;
                  @media screen and (max-width: 768.7px){
                    font-size: 14px;
                  }
                }
                td:last-child{
                  width: auto;
                  text-transform: lowercase;
                  color: $fontGrey;
                  font-family: 'Roboto',sans-serif;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 179.69%;
                  @media screen and (max-width: 768.7px){
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
      p{
        width: 100%;
        max-width: 490px;
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: $fontWhite;
        text-transform: none;
        text-align: left;
        @media screen and (max-width: 768.7px){
          width: 100%;
          max-width: none;
        }
      }
    }
    .containerFalconHeavyImg{
      width: 100%;
      max-width: 644px;
      img{
        height: 100%;
        width: 100%;
      }
      @media screen and (max-width: 1024.7px) {
        width: 50%;
      }
      @media screen and (max-width: 768.7px) {
        position: absolute;
        width: 100%;
        filter: grayscale(100%) blur(35px);
        text-align: center;
        height: 100%;
        img{
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
.containerFooterLogo{
  width: 138.12px;
  height: 16.71px;
}
  nav{
    margin: 42px 0 28px;
    ul{
      display: flex;
      @media screen and (max-width: 768.7px){
        flex-wrap: wrap;
        justify-content: center;
      }
      li{
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin: 0 10px;
        color: $fontWhite;
        @media screen and (max-width: 768.7px){
          margin-top: 10px;
        }
      }
      li:first-child, li:last-child{
        margin: 0;
        @media screen and (max-width: 768.7px){
          margin: 10px 10px 0 10px;
        }
      }
    }
  }
  p{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $fontGrey;
    margin-bottom: 30px;
    @media screen and (max-width: 768.7px){
      text-align: center;
    }
  }
  .footerLink{
    width: 260px;
    height: 60px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 70px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $fontWhite;
  }
}