body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular";
}

label {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  border: none;
  margin: 0;
  padding: 0;
  position: unset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.2;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  content: none;
}

h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
  content: none;
}

body {
  background: #010001;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 1365.6px) {
  .container {
    margin: 0 50px;
    width: auto;
  }
}
@media screen and (max-width: 768.7px) {
  .container {
    margin: 0 30px;
  }
}
.container .containerPositionContent {
  width: 100%;
  max-width: 1231px;
}

header {
  width: 100%;
  max-width: 1200px;
  padding: 53px 0;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  right: 0;
  background: #010001;
  z-index: 99;
}
@media screen and (max-width: 1366.7px) {
  header {
    width: auto;
    margin: 0 72px;
  }
}
@media screen and (max-width: 768.7px) {
  header {
    padding: 25px 0;
    margin: 0;
  }
}

.menu-btn {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 101;
  /* border: 3px solid #fff; */
}
@media screen and (min-width: 768.7px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-7px);
}

.menu-btn__burger::after {
  transform: translateY(7px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(0px);
  background: transparent;
  box-shadow: none;
  position: fixed;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
}

.containerHeader {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768.7px) {
  .containerHeader {
    justify-content: center;
    align-items: center;
  }
}
.containerHeader .containerHeaderLogo {
  position: relative;
  z-index: 101;
}
.containerHeader .listMenu, .containerHeader .listMenuOther {
  white-space: nowrap;
  display: flex;
  align-items: end;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
@media screen and (max-width: 768.7px) {
  .containerHeader .listMenu, .containerHeader .listMenuOther {
    display: none;
  }
}
.containerHeader .listMenu li, .containerHeader .listMenuOther li {
  margin: 0 10px;
}
.containerHeader .listMenu li:first-child, .containerHeader .listMenuOther li:first-child {
  margin: 0;
}
.containerHeader .listMenu li:last-child, .containerHeader .listMenuOther li:last-child {
  margin: 0;
}
.containerHeader .listMenu {
  color: #FFFFFF;
}
.containerHeader .listMenuOther {
  color: #808080;
}
.containerHeader .containerMobileMenu {
  display: none;
}
.containerHeader .containerMobileMenu.open {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  flex-direction: column;
  z-index: 100;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.containerHeader .containerMobileMenu.open .listMenuMobile, .containerHeader .containerMobileMenu.open .listMenuOtherMobile {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}
.containerHeader .containerMobileMenu.open .app-logo {
  display: flex;
}
.containerHeader .containerMobileMenu.open .app-logo a {
  margin: 10px;
}

main {
  margin: 127px 0 183px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768.7px) {
  main {
    margin: 72px 0;
  }
}
main h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 768.7px) {
  main h1 {
    font-size: 36px;
  }
}
main p {
  width: 268px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: lowercase;
  margin: 26px 0 0;
}
main .containerWorldImg {
  width: 100%;
  max-width: 1440px;
  max-height: 1006px;
}
main .containerWorldImg img {
  width: 100%;
}
main .containerFalconHeavy {
  width: 100%;
  height: 100%;
  max-height: 1718px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}
@media screen and (max-width: 768.7px) {
  main .containerFalconHeavy {
    max-height: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
  }
}
main .containerFalconHeavy .containerFalconHeavyInfo {
  width: calc(100% - 644px);
  margin: 0 39px 324px 30px;
}
@media screen and (max-width: 1024.7px) {
  main .containerFalconHeavy .containerFalconHeavyInfo {
    width: 50%;
    margin-bottom: 75px;
  }
}
@media screen and (max-width: 768.7px) {
  main .containerFalconHeavy .containerFalconHeavyInfo {
    width: 100%;
    margin: 70px 0;
  }
}
main .containerFalconHeavy .containerFalconHeavyInfo h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 45px;
}
main .containerFalconHeavy .containerFalconHeavyInfo .titleText {
  margin-top: 218px;
}
@media screen and (max-width: 1024.7px) {
  main .containerFalconHeavy .containerFalconHeavyInfo .titleText {
    margin-top: 75px;
  }
}
main .containerFalconHeavy .containerFalconHeavyInfo table {
  white-space: nowrap;
  width: 100%;
}
main .containerFalconHeavy .containerFalconHeavyInfo table tr td:first-child {
  width: 66%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 179.69%;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 768.7px) {
  main .containerFalconHeavy .containerFalconHeavyInfo table tr td:first-child {
    font-size: 14px;
  }
}
main .containerFalconHeavy .containerFalconHeavyInfo table tr td:last-child {
  width: 33%;
}
main .containerFalconHeavy .containerFalconHeavyInfo table tr td:last-child table {
  width: auto;
}
main .containerFalconHeavy .containerFalconHeavyInfo table tr td:last-child table tr td:first-child {
  text-transform: lowercase;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 179.69%;
  width: auto;
}
@media screen and (max-width: 768.7px) {
  main .containerFalconHeavy .containerFalconHeavyInfo table tr td:last-child table tr td:first-child {
    font-size: 14px;
  }
}
main .containerFalconHeavy .containerFalconHeavyInfo table tr td:last-child table tr td:last-child {
  width: auto;
  text-transform: lowercase;
  color: #808080;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 179.69%;
}
@media screen and (max-width: 768.7px) {
  main .containerFalconHeavy .containerFalconHeavyInfo table tr td:last-child table tr td:last-child {
    font-size: 14px;
  }
}
main .containerFalconHeavy .containerFalconHeavyInfo p {
  width: 100%;
  max-width: 490px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #FFFFFF;
  text-transform: none;
  text-align: left;
}
@media screen and (max-width: 768.7px) {
  main .containerFalconHeavy .containerFalconHeavyInfo p {
    width: 100%;
    max-width: none;
  }
}
main .containerFalconHeavy .containerFalconHeavyImg {
  width: 100%;
  max-width: 644px;
}
main .containerFalconHeavy .containerFalconHeavyImg img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1024.7px) {
  main .containerFalconHeavy .containerFalconHeavyImg {
    width: 50%;
  }
}
@media screen and (max-width: 768.7px) {
  main .containerFalconHeavy .containerFalconHeavyImg {
    position: absolute;
    width: 100%;
    filter: grayscale(100%) blur(35px);
    text-align: center;
    height: 100%;
  }
  main .containerFalconHeavy .containerFalconHeavyImg img {
    height: 100%;
    width: 100%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .containerFooterLogo {
  width: 138.12px;
  height: 16.71px;
}
footer nav {
  margin: 42px 0 28px;
}
footer nav ul {
  display: flex;
}
@media screen and (max-width: 768.7px) {
  footer nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}
footer nav ul li {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 10px;
  color: #FFFFFF;
}
@media screen and (max-width: 768.7px) {
  footer nav ul li {
    margin-top: 10px;
  }
}
footer nav ul li:first-child, footer nav ul li:last-child {
  margin: 0;
}
@media screen and (max-width: 768.7px) {
  footer nav ul li:first-child, footer nav ul li:last-child {
    margin: 10px 10px 0 10px;
  }
}
footer p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  margin-bottom: 30px;
}
@media screen and (max-width: 768.7px) {
  footer p {
    text-align: center;
  }
}
footer .footerLink {
  width: 260px;
  height: 60px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 70px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

/*# sourceMappingURL=index.css.map */
